doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        //ul.list-unstyled.components
          p=user.name+" "+user.surname
                
      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='../SifreDegistir') Şifre Değiştir
                li
                  a(href='../logout') Çıkış
        
        h2 Cevaplar
        
        h3 Evet
        script.
        if (evet != undefined)
          each val in evet.length ? evet : ['There are no values']
              p=val.name + " " + val.surname
              br
        .line
        
        h3 Hayır
        script.
        if (hayir != undefined)
          each val in hayir.length ? hayir : ['There are no values']
              p=val.name + " " + val.surname
              br
        .line

        button.btn.btn-primary(onclick="location.href='../../'") 
          | Geri Dön