doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          li
            a(href='/sorulariGor') Sorularimi Goruntule
                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='duyuruTuruSayfasi') Yeni Duyuru
                li
                  a(href='/SifreDegistir') Şifre Değiştir
                li
                  a(href='logout') Çıkış

        h3=tarih + " Dersinde Olmayanlarin Listesi"
        if (ders != undefined)
          each val in ders.length ? ders : ['There are no values']
            p=val
        else
          p Devamsızlık yapan öğrenci yok.

        button.btn.btn-primary(onclick="location.href='../yoklamaGoruntule'") 
          | Geri Dön