doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          p=user.name+" "+user.surname
          li 
            a Ogrenci
            ul.list-unstyled.components
              li
                a=student.name + " " + student.surname
          li
            a(href='/sorulariGor') Sorularimi Goruntule
          li
            a(href='/devam') Devamsızlık Görüntüleme Sayfası

                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='/soruSor') Ogretmene Soru Sor
                li
                  a(href='/SifreDegistir') Şifre Değiştir
                li
                  a(href='/OgrenciEkle') Öğrenci Ekle
                li
                  a(href='logout') Çıkış

        h2 Duyuru Goruntuleme Sayfasi(veli)
        
        script.
        if (announce != undefined) 
          each val in announce.length ? announce : ['There are no values']
              .h3
                  a(href='/duyurular/' + val.ntf_id)
                   =val.subject
              .p
                  a(href='/duyurular/' + val.ntf_id)
                   =val.text_box
              .line