doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          p=user.name+" "+user.surname
          li.active
            a(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Sınıflar
            ul#homeSubmenu.collapse.list-unstyled
                //each val in classes.length ? classes : ['There are no values']
                  li
                    a(href='/sinif/' + val)
                     =val
                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='../SifreDegistir') Şifre Değiştir
                li
                  a(href='../../logout') Çıkış
        script.
        if error != undefined
              .alert
                span.closebtn ×
                strong Hata!
                = error

        h2 Duyuru Görüntüle
        .line

        script.
        if(list == true)
          button.btn.btn-primary(onclick="location.href='/kimGordu/" + announce[0].ntf_id + "/'") Gorenlerin listesi 
          if (announce[0].ntf_tag == "yanit")
            button.btn.btn-primary(onclick="location.href='/cevaplar/" + announce[0].ntf_id + "/'") Cevaplar
        br
        br
        
        h4=announce[0].writer_name
        h5=announce[0].ntf_creationdate
        h3=announce[0].subject
        p=announce[0].text_box
        br
        br

        script.
        if (comment[0] != undefined) 
          each val in comment.length ? comment : ['There are no values']
            pre= '  ' + val.cmmt_box + "  --  " + val.writer_name + "  --  " + val.cmmt_creationdate
        
        
        if (announce[0].ntf_tag == "yanit" && list == false && cevapVarMi == 'false') 
          form(action='/yanitDuyuru/'+announce[0].ntf_id+'/', method='POST')
            input(type='radio', name='cevap', value='evet')
            | EVET
            br
            input(type='radio', name='cevap', value='hayir' )
            | HAYIR
            br
            h4 Cevabı Onaylamak Şifrenizi Giriniz
            br
            input(type='password', placeholder='Şifre', name='pass', required='')
            br
            button.btn.btn-primary(type='submit') Yanıtı Gönder
        else if (cevapVarMi == 'true')
          br
          h4 Yanıt verdiniz!

        .line
        form(action='/yeniComment/'+announce[0].ntf_id+'/', method='POST')
            br
            h4 Yorum
            textarea(rows='8', cols='100', name='text')
            br
            br
            button.btn.btn-primary(type='submit')
             | Yorumu Paylaş
        br
        

        button.btn.btn-primary(onclick="location.href='/duyuruSil/" + announce[0].ntf_id + "/'")
          | Duyuruyu Sil
        button.btn.btn-primary(onclick="location.href='/duyuruDuzenle/" + announce[0].ntf_id + "/'")
          | Duyuruyu Düzenle
        button.btn.btn-primary(onclick="location.href='/'") 
          | Geri Dön

        //yorum goruntuleme-ekleme
        
