doctype html
html
  head
    meta(charset='utf-8')
    title Bambini
    link(rel='stylesheet', type='text/css', href='layout/LoginLayout.css')
  body
    script.
    if error
      .alert
        span.closebtn ×
        strong Hata!
        |  Girdiğiniz email adresi sistemde kayıtlı gözükmektedir.

    .login
      h1 bambini.com'a Giriş Yap
      form(action='/login', method='POST')
        input(type='text', placeholder='Email', name='username', required='')
        input(type='password', placeholder='Şifre', name='password', required='')
        button.btn.btn-primary.btn-block.btn-large(type='submit') Giriş

      .login-or
        hr.hr-or
        span.span-or

      h3 Üye Ol
      button.btn.btn-primary.btn-block.btn-large(onclick="location.href='SignUpParent'")
        | Veli Hesabı Oluşturmak için 
        br
        |  Tıklayın!
      br
      button.btn.btn-primary.btn-block.btn-large(onclick="location.href='SignUpTeacher'") 
        | Öğretmen Hesabı Oluşturmak için Tıklayın!
        
      script.
        var close = document.getElementsByClassName("closebtn");
        var i;
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
            }
        }