doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Öğrenci Ekle
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        //ul.list-unstyled.components
          p=user.name+" "+user.surname
                
      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='../logout') Çıkış

        form#addstudent(action="/OgrenciEkle" method="POST")
          h3 Öğrencinin Adı
          input(type="text" placeholder="Öğrencini Adı" name="studentname" required="")
          h3 Öğrencinin Soyadı
          input(type="text" placeholder="Öğrencini Soyadı" name="studentsurname" required="")
          h3 Öğrencinin Sınıfı
          select(name="classname" form="addstudent")
            option(value="3-A") 3-A
            option(value="3-B") 3-B
            option(value="3-C") 3-C
            option(value="3-D") 3-D
          br
          br
          button.btn.btn-primary(type="submit") Öğrenci Ekle
          br
          br
          button.btn.btn-primary(onclick="location.href='./'") 
              | Geri Dön
