doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          p=user.name+" "+user.surname
          li.active
            a(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Sınıflar
            ul#homeSubmenu.collapse.list-unstyled
                each val in classes.length ? classes : ['There are no values']
                  li
                    a(href='/sinif/' + val)
                     =val
          li
            a(href='/sorulariGor') Sorularimi Goruntule
          li
            a(href='/sinifSec') Yoklama Al
          li
            a(href='/yoklamaGoruntule') Yoklama Goruntule
                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='/OgrenciOnay') Ogrenci Onay Kutusu
                li
                  a(href='duyuruTuruSayfasi') Yeni Duyuru
                li
                  a(href='/SifreDegistir') Şifre Değiştir
                li
                  a(href='logout') Çıkış

        h2 Duyuru Goruntuleme Sayfasi(ogretmen)
                
        each val in announce.length ? announce : ['There are no values']
            .h3
                a(href='/duyurular/' + val.ntf_id)
                 =val.subject
            .p
                a(href='/duyurular/' + val.ntf_id)
                 =val.text_box
            .line
