doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        //ul.list-unstyled.components
          p=user.name+" "+user.surname
                
      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='../SifreDegistir') Şifre Değiştir
                li
                  a(href='../logout') Çıkış
        
        h2 Onay Kutusu

        if (ogrenci[0] != undefined ) 
          each val in ogrenci.length ? ogrenci : ['There are no values']
              h3=val.name + " " + val.surname
              br
              form(action='/OgrenciOnay/'+val.s_id+'/', method='POST')
                input(type='submit', name='Onay', value='Onayla')
                input(type='submit', name='Red', value='Reddet' )
              .line
        br
        br
    
        button.btn.btn-primary(onclick="location.href='../../'") 
          | Geri Dön