doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          //p=user.name+" "+user.surname
          li.active
            a(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Sınıflar
            ul#homeSubmenu.collapse.list-unstyled
                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='logout') Çıkış

        h2 Yeni Özel Duyuru Oluştur
        form(action='/ozelDuyuru', method='POST')
            select(name='tur')
                option(value='Gezi') Gezi
                option(value='Veli Toplantısı') Toplantı
            br
            h4 Nerede?
            textarea(rows='1', cols='100', name='konum')
            br
            h4 Hangi gün?
            input(type='date', name='tarih')
            br
            h4 Başlangıç saati?
            input(type='time', name='baslangic')
            br
            h4 Bitiş saati?
            input(type='time', name='bitis')
            br
        
            button.btn.btn-primary(type='submit')
             | Duyuruyu Paylaş
        button.btn.btn-primary(onclick="location.href='/'") 
             | Geri Dön