doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Şifre Değiştir
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='logout') Çıkış

        script.
        if error != undefined
          .alert
            span.closebtn ×
            strong Hata!
            = error    
        
        form(action="/SifreDegistir" method="POST")
          h3 Eski Şifre
          input(type="password" placeholder="Eski Şifre" name="oldpass" required="")
          h3 Yeni Şifre
          input(type="password" placeholder="Yeni Şifre" name="newpass" required="")
          h3 Yeni Şifre Tekrar
          input(type="password" placeholder="Yeni Şifre Tekrar" name="renewpass" required="")
          br
          br
          button(type="submit") Şifreyi Kaydet
        
        br
        button(onclick="location.href='/'") 
            | Geri Dön

        script.
            var close = document.getElementsByClassName("closebtn");
            var i;
            for (i = 0; i < close.length; i++) {
                close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
                }
            }