doctype html
html
  head
    meta(charset='utf-8')
    title Üye Ol
    link(rel='stylesheet', type='text/css', href='layout/LoginLayout.css')
  body
    .signup
      h1 Üye Ol
      form(action='/SignUpParent', method='POST')
        h3 Adınız
        input(type='text', placeholder='Adınız', name='name', required='')
        h3 Soyadınız
        input(type='text', placeholder='Soyadınız', name='surname', required='')
        h3 E-Posta Adresiniz
        input(type='text', placeholder='E-posta adresi', name='email', required='')
        h3 Telefon Numaranız
        input(type='tel', placeholder='Telefon numarası', name='phonenumber', required='')
        h3 Okul Adı
        input(type='text', placeholder='Okul adı', name='schoolname', required='')
        h3 Şifreniz
        input(type='password', placeholder='Şifre', name='pass', required='')
        br
        br
        button.btn.btn-primary.btn-block.btn-large(type='submit') Üye Ol
      br
      button.btn.btn-primary.btn-block.btn-large(onclick="location.href='/'") Geri Dön
