doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          p=user.name+" "+user.surname

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='logout') Çıkış
        h2 Sinif Sec
            form(action='/sinifSec', method='POST')
                select(name='sinif')
                    option(value='3-A') 3-A
                    option(value='3-B') 3-B
                    option(value='3-C') 3-C
                br
                br
                select(name='saat')
                    option(value='1. Saat') 1. Saat
                    option(value='2. Saat') 2. Saat
                    option(value='3. Saat') 3. Saat
                    option(value='4. Saat') 4. Saat
                    option(value='5. Saat') 5. Saat
                    option(value='6. Saat') 6. Saat
                br
                br
                button.btn.btn-primary(type='submit') Yoklama Al
                br
                br
            button.btn.btn-primary(onclick="location.href='/'")  Geri Dön