doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //title=user.name
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
        ul.list-unstyled.components
          //p=user.name+" "+user.surname
          li.active
            a(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Sınıflar
            ul#homeSubmenu.collapse.list-unstyled
                //each val in classes.length ? classes : ['There are no values']
                  li
                    a(href='/sinif/' + val)
                     =val
                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='logout') Çıkış

        h2 Yeni Duyuru Olustur
        form(action='/soruSor', method='POST')
            select(name='teacher')
                option(value=23) Arda Göktürk Eyüboğlu
                option(value=2) Ozan Selçuk Gümüş
            br
            h4 Baslik
            input(type='text', placeholder='Sorunuzu Kısaca anlatın.', name='title')
            br
            h4 Metin
            textarea(rows='8', cols='100', name='text')
            br
            br
            button.btn.btn-primary(type='submit')
             | Ogretmene Sor
            br
            br
        button.btn.btn-primary(onclick="location.href='/'") 
             | Geri Dön