doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../layout/duyuruLayout.css')
  body
    .wrapper
      // Sidebar Holder
      nav#sidebar
        .sidebar-header
          h3 bambini
    
                

      // Page Content Holder
      #content
        nav.navbar.navbar-default
          .container-fluid
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Anasayfa
                li
                  a(href='duyuruTuruSayfasi') Yeni Duyuru
                li
                  a(href='/SifreDegistir') Şifre Değiştir
                li
                  a(href='logout') Çıkış
        h1 Ders Listesi
        .line
        each val in ders.length ? ders : ['There are no values']
            .h3
                a(href='/ders/' + val.did)
                 =val.tarih + " " + val.derssaati
            .line
